<!doctype html>
<html lang="en">
    {%csrf_token%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Student</title>
  </head>
  <body>
    
    <nav class="navbar navbar-dark fixed-top  flex-md-nowrap p-0 shadow" style="background-color: orange;">
        <h1 style="padding-left: 40px; font-family: 'Times New Roman', Times, serif;">Welcome Student</h1>
        
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a href="logout">
            <button type="button" class="btn btn-danger">Signout</button>
            </a>
          </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-light d-none d-md-block sidebar">
                <div class="left-sidebar " style="background-color: #ffb6c1;">
                    <ul class="nav flex-column sidebar-nav">
                        <li class="nav-item" style="padding-top: 20px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;" onclick="fun()">Mentor Details</button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/thesisform">Give thesis Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/vivaform">Give Viva Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/courseform">Give Course Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/adminform">Give Admission Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/mentorform">Give Mentor Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/reportstd">Reports</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;" onclick="fun1()">Course details</button>
                        </li>
                        <li class="nav-item" style="padding-top: 40px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/studentform">Give Student Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;">Viva status</button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;" onclick="fun1()">Course details</button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;">Admission details</button>
                        </li>
                        <li class="nav-item" style="padding-top: 30px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/thesisform">Give Thesis Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 40px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/vivaform">Give Viva details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 40px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/pdf">Get Mentor Details</a></button>
                        </li>
                        <li class="nav-item" style="padding-top: 40px;">
                          <button type="button" class="btn btn-warning btn-block container-sm" style="size: 30px;"><a href="/studentform">Give Student Details</a></button>
                        </li>
                      </ul>
                </div>
              </div>
        </div>
      </div>
     
     <!-- <div style="padding-left: 270px; padding-top: 40px ;">
      <table class="table caption-top table-bordered border-success">
        <caption style="font-size: 25px; color: black;">Student Details</caption>
        <thead>
          <tr class="table-warning">
            <th scope="col">Student Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Age</th>
            <th scope="col">Duration</th>
            <th scope="col">Status of PhD</th>
            <th scope="col">University</th>
            <th scope="col">Mentor Id</th>
            <th scope="col">Student Email</th>
            <th scope="col">Meet id</th>
            <th scope="col">Center number</th>
            

          </tr>
        </thead>
        <tbody>
          
            
          {% for i in post %}
            <tr>
              <th scope="row">{{i.sid}}</th>
          
              <td>{{i.FN}}</td>
              <td>{{i.MN}}</td>
              <td>{{i.LN}}</td>
              <td>{{i.phno}}</td>
              <td>{{i.age}}</td>
              <td>{{i.duration}}</td>
              <td>{{i.status_phd}}</td>
              <td>{{i.university}}</td>
              <td>{{i.mid}}</td>
              <td>{{i.st_email}}</td>
              <td>{{i.meet_id}}</td>
              <td>{{i.center_no}}</td><br>
              
            </tr>
          {% endfor %}
            
          
    
        </tbody>
      </table> -->
        
    <!-- </div> -->
    <div style="padding-left: 270px; padding-top: 60px ;">
      <table class="table caption-top table-bordered border-success" id="content">
        <caption style="font-size: 25px; color: black;">Mentor Details</caption>
        <thead>
          <tr class="table-warning">
            <th scope="col">Mentor Id</th>
            <th scope="col">Student ID</th>
      
            <th scope="col">Student First Name</th>
            <th scope="col">Mentor First Name</th>
            <th scope="col">Mentor Last Name</th>
        
            <th scope="col">Mentor Phone Number</th>
            <th scope="col">Mentor Age</th>
            <th scope="col">Mentor Email</th>
  
            

          </tr>
        </thead>
        <tbody>
          
            
          {% for i in post1 %}
            <tr>
              <th scope="row">{{i.mentor_id}}</th>
              <!-- <td>{{i.sid}}</td> -->
              <td>{{i.student_id}}</td>
              <td>{{i.student_first_name}}</td>
              <td>{{i.mentor_first_name}}</td>
              <td>{{i.mentor_last_name}}</td>
              <td>{{i.mentor_phno}}</td>
              <td>{{i.mentor_age}}</td>
              <td>{{i.mentor_email}}</td>
              
            </tr>
          {% endfor %}
            
          
    
        </tbody>
      </table>
        
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <div style="padding-left: 270px; padding-top: 40px ;">
      <table class="table caption-top table-bordered border-success" id="content1">
        <caption style="font-size: 25px; color: black;">Course Details</caption>
        <thead>
          <tr class="table-warning">
            <th scope="col">Course id</th>
            <th scope="col">Student id</th>
            <th scope="col">Student First Name</th>
            <th scope="col">Course Instructor First Name</th>
      
            <th scope="col">Course Instructor Last Name</th>
            <th scope="col">Course name</th>
      
        
            
  
            

          </tr>
        </thead>
        <tbody>
          
            
          {% for i in post2 %}
            <tr>
              <th scope="row">{{i.course_id}}</th>
              <td>{{i.student_id}}</td>
              <td>{{i.student_first_name}}</td>
          
              <td>{{i.instructor_first_name}}</td>
              <td>{{i.instructor_last_name}}</td>
              <td>{{i.course_name}}</td>
              
            
              
            </tr>
          {% endfor %}
            
          
    
        </tbody>
      </table>
        
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- <div style="padding-left: 400px;">
      <label>Enter SQL Query</label>
      <input type="text" id="query" name="query" placeholder="Enter Student/Mentor ID"/>

    </div> -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        .sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position: sticky;
  top:0;
  height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}
    </style>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    -->
    <script type="text/javascript">
      var a;
      function fun()
      {    if(a==1)
           {
              document.getElementById("content").style.display="inline";
              return a=0;

           }
           else
           {
              document.getElementById("content").style.display="none";
              return a=1;
           }

      }
      function fun1()
      {    if(a==1)
           {
              document.getElementById("content1").style.display="inline";
              return a=0;

           }
           else
           {
              document.getElementById("content1").style.display="none";
              return a=1;
           }

      }
    </script>
  </body>
</html>